.button {
  display: inline-block;
  width: auto;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  background-color: $color--fg;
  border: 1px solid $color--fg;
  color: $color--bg;
  padding: ($v / 4) ($v * 1);
  transition: opacity $duration--normal;
  &:hover {
    opacity: $opacity--faded--light;
  }
}

.button--light {
  background-color: $color--bg;
  border: 1px solid currentColor;
  color: $color--fg;
  &:hover {
    opacity: $opacity--faded;
  }
}

.button + .button {
  margin-left: 0.5em;
}
