.button {
  display: inline-block;
  width: auto;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  background-color: $color--fg;
  border: 1px solid $color--fg;
  color: $color--bg;
  padding: ($v / 3) $v;
  @extend %fade-light;
}

.button--light {
  background-color: $color--bg;
  border: 1px solid currentColor;
  color: $color--fg;
}

.button + .button {
  margin-left: 0.5em;
}
