.showcase {
  width: 100%;
  margin-bottom: 0.75em;
  overflow: hiden;
}
.showcase__item {
  width: 100%;
  visibility: hidden;
  .js & {
    visibility: visible;
  }
}
.showcase__item--active {
  visibility: visible;
}

.showcase-nav {
}
.showcase-nav__item {
  margin-right: 0.75em;
  width: 5em;
  cursor: pointer;
  @include transition(opacity $duration--normal);
  &:hover {
    opacity: 0.6;
  }
}
.showcase-nav__item.is-nav-selected {
}
