*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: $font-size--html;
  @media (max-width: $bp-md-lg) {
    font-size: $font-size--html-lg;
  }
  @media (max-width: $bp-sm-md) {
    font-size: $font-size--html-md;
  }
}
body {
  font-size: $font-size--normal;
  font-family: $font-family--body;
  font-weight: $font-weight--body;
  line-height: $line-height--normal;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  color: $color--fg;
  background-color: $color--bg;
}
::-moz-selection {
  background-color: $color--fg;
  color: $color--bg;
}
::selection {
  background-color: $color--fg;
  color: $color--bg;
}
img,
video,
iframe {
  max-width: 100%;
}
img,
video {
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  display: block;
}
