strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
del,
s {
  text-decoration: line-through;
}
u {
  text-decoration-line: underline;
}
small {
  font-size: $font-size--small;
}
sup {
  @extend small;
  position: relative;
  top: -0.25em;
}

.rte {
  // a {
  //   opacity: $opacity--faded;
  //   @include transition(opacity $duration--normal);
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
  a {
    text-decoration: underline;
    @extend .fade;
  }
  // h1,
  // h2,
  // h3,
  // h4 {
  //   margin-top: $v*1.5;
  // }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $v*0.5;
  }
  p,
  ul,
  ol,
  blockquote,
  pre,
  table,
  img,
  .img,
  video,
  iframe {
    margin-bottom: $v*0.5;
  }
  // h1,
  // h2,
  // h3,
  // h4 {
  //   @extend strong;
  // }
}