strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
del,
s {
  text-decoration: line-through;
}
u {
  text-decoration-line: underline;
}
small {
  font-size: $font-size--small;
}
sup {
  @extend small;
  position: relative;
  top: -0.25em;
}
