<div class="container container--narrow">
  <div class="align-center">
    <p class="mbv1-5">{{ 'layout.404.message' | t }}</p>
    <a href="/" class="button">{{ 'layout.404.go_home' | t }}</a>
  </div>
</div>
