.cart__item {
  border-top: 1px solid rgba($color--fg, 0.1);
  padding-top: $v;
  padding-bottom: $v;

  img {
    display: block;
  }

  &:last-of-type {
    border-bottom: 1px solid rgba($color--fg, 0.1);
    margin-bottom: $v;
  }
}

.cart__item__inner {
  position: relative;
  width: 100%;
}

.cart__item__meta {
  margin-bottom: $v * 1.25;
  padding-right: 2.5em;
}

.cart__item__options {
  position: absolute;
  bottom: 0;
  display: flex;
}

.cart__item__remove {
  position: absolute;
  top: -0.4em;
  right: 0;
  font-size: 1.333333em;
  transition: opacity $duration--normal;
  opacity: 0.4;

  &:hover {
    opacity: 0.2;
  }
}

.cart__item__total {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart__item__option__input {
  @extend %product__option__input;
}

.cart__update {
  padding: 0;
  border: 0;
}
