.cart__item {
  border-top: 1px solid rgba($color--fg, 0.06);
  padding-top: 1.25em;
  padding-bottom: 1.25em;

  img {
    display: block;
  }

  &:last-of-type {
    border-bottom: 1px solid rgba($color--fg, 0.06);
    margin-bottom: $v*0.75;
  }
}

.cart__update {
  padding: 0;
  border: 0;
}
