.cart__items {
  margin-top: $v * 0.5;
}

.cart__item {
  border-top: 1px solid rgba($color--fg, 0.1);
  padding-top: $v;
  padding-bottom: $v;

  img {
    display: block;
  }

  &:last-of-type {
    border-bottom: 1px solid rgba($color--fg, 0.1);
    margin-bottom: $v;
  }
}

.cart__item__inner {
  position: relative;
  width: 100%;
}

.cart__item__meta {
  margin-bottom: $v * 0.666667;
  padding-right: 2em;
}

.cart__item__options {
  padding-bottom: $v * 1.75;
}

.cart__item__quantity {
  position: absolute;
  bottom: 0;
}

.cart__item__remove {
  position: absolute;
  top: -0.4em;
  right: 0;
  transition: opacity $duration--normal;
  opacity: 0.4;

  &:hover {
    opacity: 0.2;
  }
}

.cart__item__total {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cart__item__option__field {
  @extend %product__option__field;
}

.cart__checkout {
  display: flex;
}

.cart__checkout__item {
  flex-grow: 1;
}
