.product__thumbnails {
  margin-top: $v * 0.5;
  display: flex;
}

.product__thumbnail {
  width: 6em;
  margin-right: $v * 0.5;
  margin-bottom: $v * 0.5;
}

.product-single__thumbnail-image {
  display: block;
  @extend %fade-light;

  .active-thumbnail & {
    // border: 1px solid currentColor;
  }
}

.product__images {
  margin-bottom: $v * 1.5;
}

.product__meta {
  margin-bottom: $v * 0.75;
}

.product__form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $v * 1.5;

  > * {
    margin-bottom: $v * 0.5;
  }
}

.product__option {
  position: relative;
}

%product__option__field,
.product__option__field {
  padding: ($v / 4) ($v / 4) ($v / 4) ($v / 3);
  margin-right: $v * 0.5;
  border: 1px solid rgba($color--fg, 1);
  background-color: transparent;
  width: 2.75em;
  transition: border-color $duration--normal;
  border: 1px solid rgba($color--fg, 0.2);

  &:hover,
  &:focus {
    border-color: $color--fg;
  }
}

.caret {
  &:after {
    content: "▾";
    position: absolute;
    right: 1.5em;
    top: 0.65em;
    font-size: 0.75em;
  }
}

.product__option__select {
  cursor: pointer;
  appearance: none;
  padding-right: ($v * 0.4);
}
