.product-single__thumbnail-image {
  // border: 1px solid transparent;
  @include transition(opacity $duration--normal);

  &:hover {
    opacity: 0.8;
  }

  // .active-thumbnail & {
  //   border-color: rgba($color--fg, 0.4);
  // }
}

.product__images {
  margin-bottom: $v*1.5;
}

.product__button {
  margin-bottom: $v*1.5;
}
