<footer class="footer">
  {% comment %}{% if template.name == 'index' %}
    {{ section.settings.footer_text | escape }}
  {% elsif template.name == 'product' %}
    <a href="/" class="fade">{{ 'products.product.back_home' | t }}</a>
  {% endif %}{% endcomment %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "footer_text",
        "label": "Footer text",
        "default": "Thanks for stopping by!"
      }
    ]
  }
{% endschema %}
