<header class="header">
  <a href="/" class="header__logo fade">
    {% include 'justinjaywang' %}
  </a>

  <nav class="header__nav">
    <ul class="header__nav-item header__nav-item--left">
      {% for link in linklists[section.settings.menu].links %}
        <li>
          <a href="{{ link.url }}" class="fade">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>

    <div class="header__nav-item header__nav-item--right">
      <a href="/cart" class="fade">
        {{ 'layout.cart.title' | t }}
        ({{ cart.item_count }})
      </a>
    </div>
  </nav>

</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}
