.header {
  margin-top: $v * 3;
  margin-bottom: $v * 3;
}
.header__logo {
  max-width: 9.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__logo svg {
  width: 100%;
}
.header__nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.header__nav-item {
  position: absolute;
  top: 0;
  padding: ($gutter * 0.75) $gutter;
}
.header__nav-item--left {
  left: 0;
}
.header__nav-item--right {
  right: 0;
}
