.header {
  margin-top: $v*3;
  margin-bottom: $v*2;
  @media (max-width: $bp-sm-md) {
  }
}
.header__logo {
  max-width: 10.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header__logo svg {
  width: 100%;
}
.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__nav-item {
  position: absolute;
  top: 0;
  padding: $outer-gutter*0.75 $outer-gutter;
  @media (max-width: $bp-sm-md) {
    padding: $outer-gutter-sm*0.75 $outer-gutter-sm;
  }
}
.header__nav-item--left {
  left: 0;
}
.header__nav-item--right {
  right: 0;
}
