// colors
// ------

$color--fg: #000;
$color--bg: #fff;

// typography
// ----------

$font-size--html:    21px;
$font-size--html-lg: 18px;
$font-size--html-md: 16px;

$font-size--normal: 1em;
$font-size--small:  0.75em;

$font-family--body: Times, 'Times New Roman', serif;

$font-weight--body: 400;

$line-height--normal: 1.4;

// sizing and spacing
// ------------------

$v: $line-height--normal * 1rem;

// grid
// ----

$max-width--container:         1080px;
$max-width--container--narrow: 36em;

// xs | sm | md | lg | xl
$bp-xs-sm: 576px;  // 36rem;
$bp-sm-md: 864px;  // 54rem;
$bp-md-lg: 1152px; // 72rem;
$bp-lg-xl: 1440px; // 90rem;

$g:               $v*0.833333;
$outer-gutter:    $g;
$outer-gutter-sm: $g;
$gutter:          $g;
$gutter-sm:       $g;

// miscellaneous
// -------------

$opacity--faded: 0.4;

$duration--normal: 0.15s;
$duration--slow:   0.4s;
