// colors

$color--fg: #000000;
$color--bg: #ffffff;

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// typography

$font-size--html: 20px;
$font-size--html-md: 18px;
$font-size--html-sm: 16px;

$font-size--normal: 1em;
$font-size--small: 0.75em;

$font-family--body: times, 'times new roman', serif;
$font-weight--body: 400;

$line-height--normal: 1.4;

// sizing and spacing

$v: $line-height--normal * 1rem;

// grid

$max-width--container--wider: 1080px;
$max-width--container--wide: 720px;
$max-width--container--narrow: 30em;

// xs | sm | md | lg | xl
$bp-xs-sm: 576px;  // 36rem;
$bp-sm-md: 864px;  // 54rem;
$bp-md-lg: 1152px; // 72rem;
$bp-lg-xl: 1440px; // 90rem;

$gutter: $v * 0.833333;

// miscellaneous

$duration--normal: 0.15s;
$duration--slow: 0.4s;
$opacity--faded: 0.4;
$opacity--light: 0.8;
